# Этап 1. Получение данных
## Stage 1. Data acquisition"

Изучим данные, предоставленные сервисом для проекта.

Let's examine the data provided by the service for the project.

## Импорт библиотек
### Import libraries

In [209]:
import pandas as pd

Прочитаем файл *music_project.csv* и сохраним его в переменной *df*. 

Reading the *music_project.csv* file and store it in the *df* variable.

In [210]:
df = pd.read_csv("/datasets/music_project.csv")

Получение первых 10 строк таблицы.

Getting the first 10 rows of a table.

In [211]:
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Saint-Petersburg,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Moscow,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Saint-Petersburg,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Saint-Petersburg,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Moscow,08:34:34,Monday
5,842029A1,Преданная,IMPERVTOR,rusrap,Saint-Petersburg,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Moscow,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Moscow,20:47:49,Wednesday
8,8FA1D3BE,И вновь продолжается бой,NaN,ruspop,Moscow,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Saint-Petersburg,21:20:49,Wednesday

Общая информация о данных таблицы *df*.

General information about table data *df*.

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
  userID    65079 non-null object
Track       63848 non-null object
artist      57876 non-null object
genre       63881 non-null object
  City      65079 non-null object
time        65079 non-null object
Day         65079 non-null object
dtypes: object(7)
memory usage: 3.5+ MB

# Рассмотрим полученную информацию подробнее.

Всего в таблице 7 столбцов, тип данных у каждого столбца - object.

Подробно разберём, какие в *df* столбцы и какую информацию они содержат:

* userID — идентификатор пользователя;
* Track — название трека;  
* artist — имя исполнителя;
* genre — название жанра;
* City — город, в котором происходило прослушивание;
* time — время, в которое пользователь слушал трек;
* Day — день недели.

Количество значений в столбцах различается. Это говорит о том, что в данных есть пропущенные значения.

## Consider the received information in more detail.

There are 7 columns in the table, the data type of each column is object.

Let's take a closer look at the columns in *df* and what information they contain:

* userID - user ID;
* Track - track name;
* artist - artist name;
* genre - the name of the genre;
* City - the city in which the listening took place;
* time - the time at which the user listened to the track;
* Day — day of the week.

The number of values in the columns varies. This indicates that there are missing values in the data.

**Выводы**

**Conclusions**

Каждая строка таблицы содержит информацию о композициях определённого жанра в определённом исполнении, которые пользователи слушали в одном из городов в определённое время и день недели. Две проблемы, которые нужно решать: пропуски и некачественные названия столбцов. Для проверки рабочих гипотез особенно ценны столбцы *time*, *day* и *City*. Данные из столбца *genre* позволят узнать самые популярные жанры.

Each table contains information on the composition of seriously ill patients in severe cases, which are used in one of the cities in severe cases and on the day of the week. The two problems that need to be addressed are gaps and poor-quality column names. The *time*, *day* column, and *city* are especially valuable for testing working assumptions. The data from the *genre* column is the most popular genres.

# Этап 2. Предобработка данных
## Stage 2. Data preprocessing

Исключим пропуски, переименуем столбцы, а также проверим данные на наличие дубликатов.

Let's eliminate the gaps, rename the columns, and also check the data for duplicates.

In [213]:
df.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

В названиях столбцов есть пробелы, которые могут затруднять доступ к данным.

There are spaces in the column names, which can make it difficult to access the data.

Переименуем столбцы для удобства дальнейшей работы. Проверим результат.

Let's rename the columns for the convenience of further work. Let's check the result.

In [214]:
df.set_axis(['user_id', 'track_name', 'artist_name', 'genre_name', 'city', 'time', 'weekday'], axis='columns', inplace=True)

In [215]:
df.columns

Index(['user_id', 'track_name', 'artist_name', 'genre_name', 'city', 'time',
       'weekday'],
      dtype='object')

Проверим данные на наличие пропусков вызовом набора методов для суммирования пропущенных значений.

Let's check the data for gaps by calling a set of methods to summarize the missing values.

In [216]:
df.isnull().sum()

user_id           0
track_name     1231
artist_name    7203
genre_name     1198
city              0
time              0
weekday           0
dtype: int64

Пустые значения свидетельствуют, что для некоторых треков доступна не вся информация. Причины могут быть разные: скажем,  не назван конкретный исполнитель народной песни. Хуже, если проблемы с записью данных. Каждый отдельный случай необходимо разобрать и выявить причину.

Empty values indicate that not all information is available for some tracks. The reasons may be different: for example, a specific performer of a folk song has not been named. Worse, if there are problems with writing data. Each individual case must be analyzed and the cause identified.

Заменяем пропущенные значения в столбцах с названием трека и исполнителя на строку 'unknown'. После этой операции нужно убедиться, что таблица больше не содержит пропусков.

We replace the missing values in the columns with the name of the track and the artist with the string 'unknown'. After this operation, you need to make sure that the table no longer contains gaps.

In [217]:
df['track_name'] = df['track_name'].fillna('unknown')

In [218]:
df['artist_name'] = df['artist_name'].fillna('unknown')

In [219]:
df.isnull().sum()

user_id           0
track_name        0
artist_name       0
genre_name     1198
city              0
time              0
weekday           0
dtype: int64

Удаляем в столбце с жанрами пустые значения; убеждаемся, что их больше не осталось.

Deleting empty values in the column with genres; make sure they are gone.

In [220]:
df.dropna(subset=['genre_name'], inplace=True)

In [221]:
df.isnull().sum()

user_id        0
track_name     0
artist_name    0
genre_name     0
city           0
time           0
weekday        0
dtype: int64

Необходимо установить наличие дубликатов.  Если найдутся, удаляем, и проверяем, все ли удалились.

You need to check for duplicates. If there are, we delete them, and check if everyone is gone.

In [222]:
df.duplicated().sum()

3755

In [257]:
df.drop_duplicates(inplace = True)

In [258]:
df.reset_index(drop=True, inplace=True)

In [224]:
df.duplicated().sum()

0

Дубликаты могли появиться вследствие сбоя в записи данных. Стоит обратить внимание и разобраться с причинами появления такого «информационного мусора».

Сохраняем список уникальных значений столбца с жанрами в переменной *genres_list*. 

Объявим функцию *find_genre()* для поиска неявных дубликатов в столбце с жанрами. Например, когда название одного и того же жанра написано разными словами.

We save the list of unique values of the column with genres in the *genres_list* variable.

Let's declare the function *find_genre()* to find implicit duplicates in the column with genres. For example, when the name of the same genre is written in different words.

In [225]:
genres_list = df['genre_name'].unique()

In [226]:
def find_genre(genre_name):
    count = 0
    for i in genres_list:
        if i == genre_name:
            count = count + 1
    return count
    
    
# <создание функции find_genre()>
# функция принимает как параметр строку с названием искомого жанра
# в теле объявляется переменная-счётчик, ей присваивается значение 0,
# затем цикл for проходит по списку уникальных значений
# если очередной элемент списка равен параметру функции, 
# то значение счётчика увеличивается на 1
# по окончании работы цикла функция возвращает значение счётчика

Вызов функции *find_genre()* для поиска различных вариантов названия жанра хип-хоп в таблице.

Правильное название — *hiphop*. Поищем другие варианты:

* hip
* hop
* hip-hop

Calling the *find_genre()* function to look up different variants of the hip-hop genre name in the table.

The correct name is *hiphop*. Let's look for other options:

* hip
* hop
* hip-hop

In [227]:
find_genre('hip')

1

In [228]:
find_genre('hop')

0

In [229]:
find_genre('hip-hop')

0

Объявим функцию *find_hip_hop()*, которая заменяет  неправильное название этого жанра в столбце *'genre_name'* на *'hiphop'* и проверяет успешность выполнения замены.

Так исправляем все варианты написания, которые выявила проверка.

Let's declare a function *find_hip_hop()* that replaces the incorrect name of this genre in the *'genre_name'* column with *'hiphop'* and checks if the replacement was successful.

So we correct all the spellings that the check revealed.

In [261]:
def find_hip_hop(df, wrong):
    df['genre_name'].replace(wrong, 'hiphop', inplace=True)
    return df[df['genre_name'] == wrong]['genre_name'].count()
# <создание функции find_hip_hop()>
# функция принимает как параметры таблицу df и неверное название
# к столбцу 'genre_name' применяется специальный метод, 
# который заменяет второй параметр на строку 'hiphop'
# результат работы равен подсчитанному методом count() числу значений столбца, 
# которые равны второму параметру
# функция возвращает результат

In [259]:
find_hip_hop(df, 'hip')

user_id        0
track_name     0
artist_name    0
genre_name     0
city           0
time           0
weekday        0
dtype: int64

Получаем общую информацию о данных. Убеждаемся, что чистка выполнена успешно.

We get general information about the data. We make sure that the cleaning was completed successfully.

In [232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60126 entries, 0 to 65078
Data columns (total 7 columns):
user_id        60126 non-null object
track_name     60126 non-null object
artist_name    60126 non-null object
genre_name     60126 non-null object
city           60126 non-null object
time           60126 non-null object
weekday        60126 non-null object
dtypes: object(7)
memory usage: 3.7+ MB

**Вывод**

**Conclusion**

На этапе предобработки в данных обнаружились не только пропуски и проблемы с названиями столбцов, но и всяческие виды дубликатов. Их удаление позволит провести анализ точнее. Поскольку сведения о жанрах важно сохранить для анализа, не просто удаляем все пропущенные значения, но заполним пропущенные имена исполнителей и названия треков. Имена столбцов теперь корректны и удобны для дальнейшей работы.


At the preprocessing stage, not only gaps and problems with column names were found in the data, but also all kinds of duplicates. Removing them will allow for a more accurate analysis. Since it is important to keep information about genres for analysis, we will not just remove all the missing values, but we will fill in the missing artist names and track names. The column names are now correct and convenient for further work.

# Действительно ли музыку в разных городах слушают по-разному?
## Is music really listened to differently in different cities?

Была выдвинута гипотеза, что в Москве и Санкт-Петербурге пользователи слушают музыку по-разному. Проверяем это предположение по данным о трёх днях недели — понедельнике, среде и пятнице.

Для каждого города устанавливаем количество прослушанных  в эти дни композиций с известным жанром, и сравниваем результаты.

A hypothesis was put forward that in Moscow and St. Petersburg users listen to music differently. We check this assumption on the data on three days of the week - Monday, Wednesday and Friday.

For each city, we set the number of songs with a known genre listened to these days, and compare the results.

Группируем данные по городу и вызовом метода *count()* подсчитываем композиции, для которых известен жанр.

We group the data by city and by calling the *count()* method we count the compositions for which the genre is known.

In [233]:
df.groupby('city').count()

                  user_id  track_name  artist_name  genre_name   time  weekday
city
Moscow              41892       41892        41892       41892  41892    41892
Saint-Petersburg    18234       18234        18234       18234  18234    18234

В Москве прослушиваний больше, чем в Питере, но это не значит, что Москва более активна. У Яндекс.Музыки в целом больше пользователей в Москве, поэтому величины сопоставимы.

There are more auditions in Moscow than in St. Petersburg, but this does not mean that Moscow is more active. Yandex.Music generally has more users in Moscow, so the numbers are comparable.

Сгруппируем данные по дню недели и подсчитаем прослушанные в понедельник, среду и пятницу композиции, для которых известен жанр.

Let's group the data by the day of the week and count the compositions listened to on Monday, Wednesday and Friday, for which the genre is known.

In [234]:
# <группировка данных по столбцу 'weekday' и подсчёт количества значений столбца 'genre_name'>
df.groupby('weekday')['genre_name'].count()

weekday
Friday       21482
Monday       20866
Wednesday    17778
Name: genre_name, dtype: int64

Понедельник и пятница — время для музыки; по средам пользователи немного больше вовлечены в работу.

Monday and Friday are music time; on Wednesdays, users are a little more engaged.

Создаём функцию *number_tracks()*, которая принимает как параметры таблицу, день недели и название города, а возвращает количество прослушанных композиций, для которых известен жанр. Проверяем количество прослушанных композиций для каждого города и понедельника, затем среды и пятницы.

We create a *number_tracks()* function that takes a table, day of the week and city name as parameters, and returns the number of listened tracks for which the genre is known. We check the number of songs listened to for each city and Monday, then Wednesday and Friday.

In [235]:
def number_tracks(df, day, city):
    track_list = df[(df['weekday'] == day) & (df['city'] == city)]
    track_list_count = track_list['genre_name'].count()
    return track_list_count
            
# <создание функции number_tracks()>
# объявляется функция с тремя параметрами: df, day, city
# в переменной track_list сохраняются те строки таблицы df, для которых 
# значение в столбце 'weekday' равно параметру day
# и одновременно значение в столбце 'city' равно параметру city
# в переменной track_list_count сохраняется число значений столбца 'genre_name',
# рассчитанное методом count() для таблицы track_list
# функция возвращает значение track_list_count

In [236]:
MM = number_tracks(df, 'Monday', 'Moscow')

In [237]:
SM = number_tracks(df, 'Monday', 'Saint-Petersburg')

In [238]:
MW = number_tracks(df, 'Wednesday', 'Moscow')

In [239]:
SW = number_tracks(df, 'Wednesday', 'Saint-Petersburg')

In [240]:
MF = number_tracks(df, 'Friday', 'Moscow')

In [241]:
SF = number_tracks(df, 'Friday', 'Saint-Petersburg')

Сведём полученную информацию в одну таблицу, где ['city', 'monday', 'wednesday', 'friday'] названия столбцов.

Let's summarize the received information in one table, where ['city', 'monday', 'wednesday', 'friday'] are the names of the columns.

In [262]:
columns = ['city', 'monday', 'wednesday', 'friday'] 
data = [
    ['Moscow', MM, MW, MF],
    ['Saint-Petersburg', SM, SW, SF]
]
table = pd.DataFrame(data=data, columns=columns)

In [263]:
table

               city  monday  wednesday  friday
0            Moscow   15347      10865   15680
1  Saint-Petersburg    5519       6913    5802

**Вывод**

**Conclusion**

Результаты показывают, что относительно среды музыку в Петербурге и Москве слушают «зеркально»: в Москве пики приходятся на понедельник и пятницу, а в среду время прослушивания снижается. Тогда как в Санкт-Петербурге среда — день самого большого интереса к музыке, а в понедельник и пятницу он меньше, причём почти одинаково меньше.

The results show that, relative to Wednesday, music in St. Petersburg and Moscow is listened to “mirror”: in Moscow, peaks occur on Monday and Friday, and on Wednesday the listening time decreases. Whereas in St. Petersburg Wednesday is the day of the greatest interest in music, and on Monday and Friday it is less, and almost equally less.

# Утро понедельника и вечер пятницы — разная музыка или одна и та же?

## Monday morning and Friday evening - different music or the same?

Ищем ответ на вопрос, какие жанры преобладают в разных городах в понедельник утром и в пятницу вечером. Есть предположение, что в понедельник утром пользователи слушают больше бодрящей музыки (например, жанра поп), а вечером пятницы — больше танцевальных (например, электронику).

We are looking for an answer to the question of what genres prevail in different cities on Monday morning and Friday evening. There is an assumption that on Monday morning, users listen to more invigorating music (for example, the pop genre), and on Friday evening - more dance music (for example, electronic music).

Получим таблицы данных по Москве *moscow_general* и по Санкт-Петербургу *spb_general*.

We will get data tables for Moscow *moscow_general* and for St. Petersburg *spb_general*.

In [244]:
moscow_general = df[df['city'] == 'Moscow']
# получение таблицы moscow_general из тех строк таблицы df, 
# для которых значение в столбце 'city' равно 'Moscow'

In [245]:
spb_general = df[df['city'] == 'Saint-Petersburg']
# <получение таблицы spb_general>

Создаём функцию *genre_weekday()*, которая возвращает список жанров по запрошенному дню недели и времени суток с такого-то часа по такой-то.

We create a function *genre_weekday()* that returns a list of genres for the requested day of the week and time of day from such and such an hour to such and such.

In [246]:
def genre_weekday(df, day, time1, time2):
    genre_list = df[(df['weekday'] == day) & (df['time'] > time1) & (df['time'] < time2)]
    genre_list_sorted = genre_list.groupby('genre_name')['genre_name'].count()
    return genre_list_sorted.sort_values(ascending=False).head(10)
# объявление функции genre_weekday() с параметрами df, day, time1, time2
# в переменной genre_list сохраняются те строки df, для которых одновременно:
# 1) значение в столбце 'weekday' равно параметру day,
# 2) значение в столбце 'time' больше time1 и
# 3) меньше time2.
# в переменной genre_list_sorted сохраняются в порядке убывания  
# первые 10 значений Series, полученной подсчётом числа значений 'genre_name'
# сгруппированной по столбцу 'genre_name' таблицы genre_list
# функция возвращает значение genre_list_sorted

Cравниваем полученные результаты по таблице для Москвы и Санкт-Петербурга в понедельник утром (с 7 до 11) и в пятницу вечером (с 17 до 23).

Comparing the results obtained according to the table for Moscow and St. Petersburg on Monday morning (from 7 to 11) and on Friday evening (from 17 to 23).

In [247]:
genre_weekday(moscow_general, 'Monday', '07:00:00', '11:00:00')

genre_name
pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
classical      157
Name: genre_name, dtype: int64

In [248]:
genre_weekday(spb_general, 'Monday', '07:00:00', '11:00:00')

genre_name
pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
Name: genre_name, dtype: int64

In [249]:
genre_weekday(moscow_general, 'Friday', '17:00:00', '23:00:00')

genre_name
pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
alternative    163
classical      163
rusrap         142
Name: genre_name, dtype: int64

In [250]:
genre_weekday(spb_general, 'Friday', '17:00:00', '23:00:00')

genre_name
pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
Name: genre_name, dtype: int64

Популярные жанры в понедельник утром в Питере и Москве оказались похожи: везде, как и предполагалось, популярен поп. Несмотря на это, концовка топ-10 для двух городов различается: в Питере в топ-10 входит джаз и русский рэп, а в Москве жанр *world*.

В конце недели ситуация не меняется. Поп-музыка всё так же на первом месте. Опять разница заметна только в концовке топ-10, где в Питере пятничным вечером тоже присутствует жанр *world*.

Popular genres on Monday morning in St. Petersburg and Moscow turned out to be similar: everywhere, as expected, pop is popular. Despite this, the ending of the top 10 for the two cities is different: in St. Petersburg, the top 10 includes jazz and Russian rap, and in Moscow, the *world* genre.

At the end of the week, the situation does not change. Pop music is still in the first place. Again, the difference is noticeable only at the end of the top 10, where the *world* genre is also present in St. Petersburg on Friday evening.

**Вывод**

**Conclusion**

Жанр поп безусловный лидер, а топ-5 в целом не различается в обеих столицах. При этом видно, что концовка списка более «живая»: для каждого города выделяются более характерные жанры, которые действительно меняют свои позиции в зависимости от дня недели и времени.

The pop genre is the undisputed leader, and the top 5 in general does not differ in both capitals. At the same time, it is clear that the end of the list is more “live”: for each city, more characteristic genres are distinguished, which really change their positions depending on the day of the week and time.

# Москва и Питер — две разные столицы, два разных направления в музыке. Правда?

## Moscow and St. Petersburg are two different capitals, two different directions in music. Truth?

Гипотеза: Питер богат своей рэп-культурой, поэтому это направление там слушают чаще, а Москва — город контрастов, но основная масса пользователей слушает попсу.

Hypothesis: St. Petersburg is rich in its rap culture, so this direction is listened to more often there, and Moscow is a city of contrasts, but the majority of users listen to pop music.

Сгруппируем таблицу *moscow_general* по жанру, сосчитаем численность композиций каждого жанра методом *count()*, отсортируем в порядке убывания и сохраним результат в таблице *moscow_genres*.

Просмотрим первые 10 строк этой новой таблицы.

Let's group the *moscow_general* table by genre, count the number of songs of each genre using the *count()* method, sort it in descending order, and save the result in the *moscow_genres* table.

Let's look at the first 10 rows of this new table.

In [251]:
moscow_genres = moscow_general.groupby('genre_name')['genre_name'].count().sort_values(ascending=False)
# одной строкой: группировка таблицы moscow_general по столбцу 'genre_name', 
# подсчёт числа значений 'genre_name' в этой группировке методом count(), 
# сортировка Series в порядке убывания и сохранение в moscow_genres

In [252]:
moscow_genres.head(10)

genre_name
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: genre_name, dtype: int64

Сгруппируем таблицу *spb_general* по жанру, сосчитаем численность композиций каждого жанра методом *count()*, отсортируем в порядке убывания и сохраним результат в таблице *spb_genres*.

Просматриваем первые 10 строк этой таблицы. Теперь можно сравнивать два города.

Let's group the *spb_general* table by genre, count the number of songs of each genre using the *count()* method, sort it in descending order, and store the result in the *spb_genres* table.

We look at the first 10 rows of this table. Now you can compare the two cities.

In [253]:
spb_genres = spb_general.groupby('genre_name')['genre_name'].count().sort_values(ascending=False)

In [254]:
spb_genres.head(10)

genre_name
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: genre_name, dtype: int64

**Вывод**

**Conclusion**

В Москве, кроме абсолютно популярного жанра поп, есть направление русской популярной музыки. Значит, что интерес к этому жанру шире. А рэп, вопреки предположению, занимает в обоих городах близкие позиции.

In Moscow, in addition to the absolutely popular genre of pop, there is a direction of Russian popular music. This means that the interest in this genre is wider. And rap, contrary to assumption, occupies close positions in both cities.

# Этап 4. Результаты исследования

## Stage 4. Research results

Рабочие гипотезы:

* музыку в двух городах — Москве и Санкт-Петербурге — слушают в разном режиме;

* списки десяти самых популярных жанров утром в понедельник и вечером в пятницу имеют характерные отличия;

* население двух городов предпочитает разные музыкальные жанры.

**Общие результаты**

Москва и Петербург сходятся во вкусах: везде преобладает популярная музыка. При этом зависимости предпочтений от дня недели в каждом отдельном городе нет — люди постоянно слушают то, что им нравится. Но между городами в разрезе дней неделей наблюдается зеркальность относительно среды: Москва больше слушает в понедельник и пятницу, а Петербург наоборот - больше в среду, но меньше в понедельник и пятницу.

В результате первая гипотеза подтверждена, вторая гипотеза подтверждена и третья подтверждена.

Working hypotheses:

* music in two cities - Moscow and St. Petersburg - is listened to in a different mode;

* lists of the ten most popular genres on Monday morning and Friday evening have characteristic differences;

* the population of the two cities prefers different musical genres.

**Overall results**

Moscow and St. Petersburg agree in tastes: popular music prevails everywhere. At the same time, there is no dependence of preferences on the day of the week in each individual city - people constantly listen to what they like. But between the cities, in the context of days of the week, there is a mirror image with respect to Wednesday: Moscow listens more on Monday and Friday, while St. Petersburg, on the contrary, listens more on Wednesday, but less on Monday and Friday.

As a result, the first hypothesis is confirmed, the second hypothesis is confirmed, and the third is confirmed.